<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue-todolist</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link rel="stylesheet" href="./assets/css/style.css">
    </head>
    <body>

            <div id="app">
                <img src="./assets/img/bool.png" alt="">
                <div class="inserire">
                    <input type="text" placeholder="inserisci nome e cognome" v-model="value" @keyup.enter="inserisci">
                    <button @click="inserisci">Add</button>
                </div>
                    <h2>Lista Studenti</h2>
                    <ul>
                        <li v-for="studente in studenti">{{studente.text}}<i @click="elimina(studente)" class="fas fa-user-times"></i></li>                        
                    </ul>
            </div>

        
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="./assets/js/main.js"></script>
    </body>
</html>